<ul id="comments" class="comments">
    <li class="comment">
        <div class="clearfix">
            <h4 class="pull-left">John</h4>
            <p class="pull-right">9:41 PM on August 24, 2013</p>
        </div>
        <p>
            <em>I don't believe in astrology but still your writing style is really great!</em>
        </p>
    </li>
 
    <li class="comment clearfix">
        <div class="clearfix">
            <h4 class="pull-left">John</h4>
            <p class="pull-right">9:41 PM on August 24, 2013</p>
        </div>
        <p>
            <em>I don't believe in astrology but still your writing style is really great!</em>
        </p>
    </li>
</ul>